/* --------------------- */
/* Components */
/* --------------------- */

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0.3rem;
  background-color: var(--clr-beige-100);
  border-radius: 7px;
  border-bottom: 5px solid var(--clr-beige-200);
  cursor: pointer;
}

.number:hover {
  background-color: rgb(240, 240, 240);
}

.display {
  grid-column: 1 / 5;
  background-color: var(--clr-blue-500);
  color: white;
  font-size: 3rem;
  border-radius: 10px;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

.equals {
  color: white;
  grid-column: 3 / 5;
  background-color: var(--clr-red-100);
  border-bottom: 5px solid var(--clr-red-200);
}

.clear {
  grid-column: 1 / 3;
}
.delete,
.clear {
  color: white;
  background-color: var(--clr-blue-100);
  border-bottom: 5px solid var(--clr-blue-200);
}

.delete,
.clear {
  font-size: var(--fs-400);
}

.delete:hover,
.clear:hover,
.equals:hover {
  opacity: 0.8;
}

/* --------------------- */
/* Layout */
/* --------------------- */

.grid-container {
  text-align: center;
  display: grid;
  padding: 1rem;
}

.container-calculator {
  background-color: var(--clr-blue-400);
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 70px);
  transform: translate(20%, 20%);
  border-radius: 15px;
}
